.rightPartWrapper {
  display: flex;
  flex-direction: column;
}

.currentTemperature {
  color: var(--main-text-color);
  margin-top: -20px;
  text-align: center;
  font-size: 110px;
  font-weight: 300;
  letter-spacing: 0.4px;
}

.subTemperature {
  color: var(--main-text-color);
  margin-right: 15px;
  text-align: center;
  font-size: 21px;
  font-weight: 500;
}

.subTemperature:last-child {
  margin-right: 0;
}

.subWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
