.tileWrapper {
  box-sizing: border-box;
  width: 90%;
  padding: 5% 10%;
  border: 0.6px solid;
  border-color: var(--tile-border);
  border-radius: 18px;
  background: var(--tile-background);
  backdrop-filter: blur(145px);
}

.firstRow {
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--tile-font-color);
  font-size: 100%;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.value {
  color: var(--tile-value-color);
  font-size: 44px;
  font-weight: 400;
  padding-bottom: 10%;
}

.picture {
  padding: 1%;
  padding-right: 5%;
}

.propImg {
  max-width: 100%;
}

.tileWeatherCode {
  text-align: center;
}

@media (max-width: 1450px) {
  .value {
    font-size: 36px;
  }

  .firstRow {
    font-size: 16px;
  }
  .tileWeatherCode {
    font-size: 18px;
  }
}

