.cardContainer {
  position: relative;
  color: white;
}

.cardWrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr;
  height: 180px;
  padding: 5px;
  border-radius: 15px;
}

.leftPartWrapper {
  padding-top: 20px;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  align-items: flex-start;
  margin-left: 2%;
}

.cityName {
  margin: 0;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 122%;
  letter-spacing: 0.4px;
}

.cityTime {
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 133.333%;
  letter-spacing: 0.36px;
}

.weatherCondition {
  padding-top: 10px;
}

.bgVideo {
  border-radius: 15px;
  height: 200px;
  width: 628px;
  object-fit: cover;
}
