.hoursWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.hoursWeatherCode {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 1%;
  border-bottom: solid 1px;
  border-color: var(--hours-border-bottom);
}

.hoursContainer {
  height: fit-content;
  padding: 2%;
  border-radius: 15px;
  background: var(--week-background);
  backdrop-filter: blur(145px);
}
