.sidebarWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
  gap: 5px;
  background: var(--side-bar-bg);
  backdrop-filter: blur(170px);
}

@media (max-width: 1679px) {
  .sidebarWrapper {
    display: none;
  }
}
