.weekWrapper {
  display: flex;
  flex-direction: column;
  width: 536px;
  margin-left: 5%;
  border-radius: 15px;
  border: 0.5px solid rgba(255, 255, 255, 0.00);
  background: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(145px);
}

.weekWrapper:nth-child(1) {
  align-items: center;
  padding-top: 1%;
}

.title {
  padding-top: 5px;
  padding-bottom: 20px;
  color: #424242;
  font-size: 15px;
  font-weight: 500;
}