.subPart {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  justify-content: space-between;
}

.mainPartWrapper {
  display: flex;
  flex-direction: column;
  padding: 1%;
  height: 100vh;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}